gollama
**/.swp
**/.tmp
**/.trash
**/*.log
dist/
.selected*
dist/
**/*.zip
**/*.dmg
**/*.tar.gz
vendor/
node_modules/
.idea/
.vscode/
Modelfile*
**/*.DS_Store
**/cache

# serena https://github.com/oraios/serena
.serena/

bin
